#barcodevideo, #barcodecanvas, #barcodecanvasg {
	height: 400px;
}	

#barcodecanvasg {
	position: absolute;
	top: 0px;
	left: 0px;
}

#result {
	font-family: verdana;
	font-size: 1.5em;
}

#barcode {
	position: relative;
}	

#barcodecanvas {
	display: none;
}

#barcodevideo {
	border: 1px solid black;
  }
  #mapa {
	height: 400px;
	width: 100%;
	margin-top: 20px;
  }